<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoanDepatment">
<listeners>
<listener class-name="test.Listeners"/>
</listeners>
<parameter name="URL" value="qaclick.com"/>
  <test name="Regresion">
  
    <classes>
      
     <class name="test.Day1"/>
      <class name="test.Day2"/>
      
      <class name="test.Day3"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
